*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 40px;
    text-decoration: solid;
    padding-left: 43%;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.box{
    display: flex;
    gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.sty{
    width: 100%;
    border: black solid 1px;
    border-radius: 5px;
    background-color: rgb(240, 245, 250);
    padding: 20px;
    padding-top: 40px;
    height: 500px;
}
#user1{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
#user2{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
#msg1{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 20px;
    border: 1px solid black;
}
#btn1{
    height: 35px;
    width: 100%;
    background-color: rgb(80, 230, 80);
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}
#msg2{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 20px;
    border: 1px solid black;
}
#btn2{
    height: 35px;
    width: 100%;
    background-color: rgb(80, 230, 80);
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}
#us1{
    border: 1px solid black ;
    border-radius: 5px;
    background-color: rgb(237, 227, 240);
    height: 200px;
    padding-right: 15px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 40px;
    overflow-y:scroll;
}
#us2{
    border: 1px solid black ;
    border-radius: 5px;
    background-color: rgb(237, 227, 240);
    height: 200px;
    padding-right: 15px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 40px;
    overflow-y:scroll;
}

    @media (max-width: 768px) {
        .box {
            flex-direction: column;
            align-items: center;
            margin: 20px 10px;
            padding: 20px;
        }
    }
    hr{
        font-weight: bold;
        color: black;
        font-size: bold;
    }
    #btn1:hover{
        background-color: rgb(20, 168, 20);
    }
    #msg1:hover{
        transform: translate(2px);
    }
    #user1:hover{
        transform: translate(2px);
    }
    #btn2:hover{
        background-color: rgb(20, 168, 20);
    }
    #msg2:hover{
        transform: translate(2px);
    }
    #user2:hover{
        transform: translate(2px);
    }
    .sty:hover{
        transform: translate(5px);
    }
            p{ font-size:16px; margin-bottom:5px; }
        .user1{ color:darkgreen; font-weight:bold; }
        .user2{ color:blue; font-weight:bold; }
